AGENT_DB_HOST=
AGENT_DB_PORT=3306
AGENT_DB_NAME=
AGENT_DB_USERNAME=
AGENT_DB_PASSWORD=

AGENT_BOOTSTRAP_USERNAME=admin
AGENT_BOOTSTRAP_PASSWORD=
AGENT_BOOTSTRAP_DISPLAY_NAME=Platform Admin

AGENT_ENCRYPTION_SECRET=

MCP_ACCESS_TOKEN=
